





.tipo-de-modelos{
  text-align: center;
  margin-top: 2rem;
  
}
.tipo-de-modelos p{
  text-align: left;
  margin-top: 2rem;
  color: #cfd6e1;
  margin-left: 100px;
  
}

.col-md-4{
  max-width: 40px;
  min-width: 320px;
  margin: auto;
}
.col-md-4 img{
  width: 100%;
  position: relative;
}

.video-contenedor{
  position: relative;
  padding-bottom: 70%;

}
.video-contenedor iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-white{
  text-align: center;
  font-size: xx-small;
} 
.container11 p{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-size: 20px !important;
} 

.container11 h1{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-size: 50px;
} 

.datos-de-modelos{
  color: #000;
}

.mb-0{
  color: #000;
}

.row{
  text-align: center;
}

.contenido_para_fotos{
display: flex;
justify-content: center;
margin-bottom: 1.5cm;
margin-top: 1.5cm;
}
.fotos1{
  width: 25%;
  margin: 0 10px;
}

.texto_central2{
  text-align: center;
  color: white;
}
.col-md-12{
  text-align: center;
}
.texto_3{
  text-align: center;
  color: #ffffff;
}
.video_sueños{
  text-align: center;
}

.texto_central{
  color:#c9af5a ;
  text-align: center;
}
.banner_superior{
  text-align: center;
}
 */
.card{
  color: #000;
}
.py-51{
  color: #000000;
}

.nosotros{
  background-color: #ffffff;
}
.py-5{
  color: #ffffff;
}

/*textox ind */
.card-text{
  color: #000;
}
.textonegro3{
  color: #000000;
}
.textonegro2{
  color: #000;
}
.textonegro1{
  color: #ffffff;
}
/* Typografia */
body, ul, li, p, a, 
label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 19px !important;
  font-weight: 0 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px !important;
  font-weight: 200 !important;
  color: #c9af5a;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
  color: #c9af5a;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;

}
/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #c9af5a !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #c9af5a  !important;}
.text-light { color: #cfd6e1 !important;}
/*var superior */
.bg-dark { background-color: #000000 !important;}
/*3ra parte */
.bg-light { background-color: #232228 !important;}
/*3ra parte de ventas */
.bg-light1 { background-color: #ffffff !important;}
/*borde inferior */
.bg-black { background-color: #000000 !important;}
.bg-success { background-color:#c9af5a !important;
background-image: url(../img/Sobre\ Nosotros-06.png);
background-position: 102%;

}

.btn-success {
  background-color: #c9af5a !important;
  border-color: #c9af5a!important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #c9af5a;
  color: #fff;
}
/* Nav */
#barra1_nav_top { min-height: 40px;}
#barra1_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: #c9af5a;;}
#templatemo_main_nav a:hover { color: #c9af5a;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}

/* 1ra parte */
#barra3-principal-carrusel { background: #ffffff !important;}
/* Accordion */
.templatemo-accordion a { color: #c9af5a;}
.templatemo-accordion a:hover { color: #000205;}
/* Shop */
.shop-top-menu a:hover { color: #c9af5a !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}

.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #d8d223;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #d8d223 !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #ffffff;}
.services-icon-wap:hover {background: #d8d223;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #d8d223;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #01060e;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}

.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #barra2 .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #barra2 .navbar-nav {max-width: 800px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
